.hello{
    background-color:greenyellow;
  }
  .hello1{
    background-color: grey;
    padding:20px;
  }
  .hello2{
    background-color: blueviolet;
    padding:20px;
  }
  .hello3{
    background-color: cyan;
    padding:20px;
  }
  .hello4{
    background-color: darkkhaki;
    padding:20px;
  }
  .hello5{
    background-color: deeppink;
    padding:20px;
  }
  .yasoda1{
    background-color: darkmagenta;
  }